body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4ea;
    flex-wrap: wrap;
}

.center {
    width: 80%;
}

@media all and (max-width:768px) {
    .center {
        width: 100%;
    }
}

.header {
    width: 100%;
    height: auto;
}

/*___________________ marquee ___________________*/
#marquee {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 241, 223);
    display: flex;
    align-items: center;
}

#marquee marquee {
    font-size: 20px;
}

/*___________________ logo  ___________________*/
.header {
    background-color: white;
}

.header>#logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.header>#logo>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.header>#logo>a>img {
    width: 35%;
}

#search {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#search>form {
    border: 3px solid rgb(213, 129, 221);
    display: flex;
    align-items: center;
}

#search>form>input {
    border: none;
    outline: none;
}

#search>form>button {
    border: none;
    display: flex;
    align-items: center;
    background-color: rgb(213, 129, 221);
}

#logo_contact {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_contact>a {
    padding-left: 5%;
}

#logo_contact>a>img {
    width: 40px;
}

#logo_contact>a:hover img {
    transform: scale(1.2);
}



/*___________________ menu ___________________*/
.header_menu {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(214, 212, 207);
    border-top: 2px solid rgb(214, 212, 207);
}
.header_menu>ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_menu>ul>li {
    list-style: none;
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
    z-index: 100;
}

.header_menu>ul>li:hover {
    transform: scale(1.2);
}
.header_menu>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Charm', cursive;
}

.header_menu>ul>li>a:hover {
    color: rgb(243, 145, 223);
}

.header_menu>ul>li:nth-child(2):hover #menu_danh_muc {
    display: block;
}


/*___________________ menu---2 ___________________*/
#menu_danh_muc {
    position: absolute;
    width: 200%;
    height: auto;
    display: none;
    background-color: rgb(252, 246, 238);
    border-radius: 20px 20px;
    border: 3px solid rgb(119, 118, 116);
}
#menu_danh_muc>ul>li {
    width: 100%;
    list-style-type: none;
    padding: 2%;
    margin-left: 100%;
    opacity: 0;
}

#menu_danh_muc>ul>li>a:hover {
    color: rgb(243, 114, 237);
}

#menu_danh_muc>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: 'Charm', cursive;
    font-size: 20px;
}

.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(1) {
    animation: li_1 0.75s ease-out forwards;
}

@keyframes li_1 {
    0% {
        opacity: 0;
        margin-left: 100%;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(2) {
    animation: li_2 0.75s ease-out 0.2s forwards;
}

@keyframes li_2 {
    0% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(3) {
    animation: li_3 0.75s ease-out 0.3s forwards;
}

@keyframes li_3 {
    0% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(4) {
    animation: li_4 0.75s ease-out 0.4s forwards;
}

@keyframes li_4 {
    0% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(5) {
    animation: li_5 0.75s ease-out 0.5s forwards;
}

@keyframes li_5 {
    0% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.navbar {
    display: none;
}

/*___________________ mobile menu___________________*/

@media screen and (max-width:768px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
    }

    .header {
        width: 100%;
        height: auto;
    }

    .header_menu {
        display: none;
    }

    #search,
    #logo_contact {
        display: none;
    }

    .navbar {
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        height: auto;
    }

    .navbar-toggler {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        border: none;
    }
}

.banner_2,.banner_3{
    margin-top: 2%;
}
/*___________________ sản phẩm nổi bật___________________*/
.san_pham_noi_bat {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
}

.san_pham_noi_bat>h1>p {
    color: rgb(220, 39, 181);

    text-transform: uppercase;
    text-decoration: underline;
}

.swiper {
    width: 100%;
    height: auto;
    margin-top: 1%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    margin-left: 4%;
}

.swiper>.swiper-wrapper>.swiper-slide>.card {
    min-height: 500px;
    overflow: hidden;
}

.swiper>.swiper-wrapper>.swiper-slide>.card>img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.swiper>.swiper-wrapper>.swiper-slide>.card>.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper>.swiper-wrapper>.swiper-slide>.card>.card-body>.btn,
.beauty-care-food-card>.card>.card-body>.btn {
    background-color: #f061cc;
    border: none;
}

.swiper>.swiper-wrapper>.swiper-slide>.card>.card-body>.btn:hover,
.beauty-care-food-card>.card>.card-body>.btn:hover {
    background-color: #f508baea;
}


/*___________________ thực phẩm chăm sóc sắc đẹp___________________*/
.beauty-care-food {
    width: 100%;
    height: auto;
}


.beauty-care-food-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.beauty-care-food-card>.card {
    margin-left: 1%;
    margin-top: 1%;
    min-height: 500px;
}

.beauty-care-food-card>.card>.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.beauty-care-food>.beauty-care-food-card>.card {
    overflow: hidden;
}

.beauty-care-food>.beauty-care-food-card>.card>img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}


/*___________________ mobile sản phẩm nổi bật---thực phẩm chăm sóc sắc đẹp___________________*/
@media all and (max-width:768px) {

    .swiper,
    .beauty-care-food {
        width: 100%;
        height: auto;
    }

    .swiper>.swiper-wrapper>.swiper-slide>.card {
        min-height: 350px;
    }

    .swiper>.swiper-wrapper>.swiper-slide>.card>.card-body,
    .beauty-care-food>.beauty-care-food-card>.card>.card-body {
        width: 100%;
        height: 100%;
    }

    .swiper>.swiper-wrapper>.swiper-slide>.card>.card-body>.card-title,
    .beauty-care-food>.beauty-care-food-card>.card>.card-body>.card-title {
        font-size: 15px;
    }

    .swiper>.swiper-wrapper>.swiper-slide>.card>.card-body>.card-text,
    .beauty-care-food>.beauty-care-food-card>.card>.card-body>.card-text {
        display: none;
    }

    .swiper>.swiper-wrapper>.swiper-slide>.card>.card-body>.btn,
    .beauty-care-food>.beauty-care-food-card>.card>.card-body>.btn {
        font-size: 13px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        opacity: 0;
    }

    .san_pham_noi_bat>h1 {
        font-size: 18px;
    }

    .beauty-care-food>.beauty-care-food-card>.card {
        min-height: 350px;
        max-width: 150px;
    }
}


/*___________________ contact ___________________*/
.contact-zalo{
    position:fixed;
    bottom: 25%;
    z-index: 1000;
    left: 2%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.contact-zalo>.contact-toa{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: play  1.5s ease infinite;
}
.contact-messenger{
    position:fixed;
    bottom: 11%;
    z-index: 1000;
    left: 2%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.contact-messenger>.contact-toa{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: play2  1.5s ease infinite;
}
.contact-phone{
    position:fixed;
    bottom: 15%;
    z-index: 1000;
    right: 5%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.contact-phone>.contact-toa{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: play3  1.5s ease infinite;
}
@keyframes play {
    0%{
        box-shadow: 0em 0em 0em 0.5em rgb(66, 136, 234 , 1);
    }
    100%{
        box-shadow: 0em 0em 0em 1.2em rgba(127, 194, 232, 0.2) ;
    }
}
@keyframes play2 {
    0%{
        box-shadow: 0em 0em 0em 0.5em rgb(225, 114, 243, 1);
    }
    100%{
        box-shadow: 0em 0em 0em 1.2em rgb(213, 151, 242, 0.2);
    }
}
@keyframes play3 {
    0%{
        box-shadow: 0em 0em 0em 0.5em rgb(237, 218, 67 ,1);
    }
    100%{
        box-shadow: 0em 0em 0em 1.2em rgb(237, 204, 68 , 0.2);
    }
}
.contact-zalo>.contact-toa>a,
.contact-messenger>.contact-toa>a,
.contact-phone>.contact-toa>a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-zalo>.contact-toa>a>img,
.contact-messenger>.contact-toa>a>img,
.contact-phone>.contact-toa>a>img{
    width: 100%;
}
@media all and (max-width:768px) {

    .contact-zalo,
    .contact-messenger,
    .contact-phone
    {
        width: 80px;
        height: 80px;
    }
}

/*___________________ footer ___________________*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(234, 172, 221);
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif
}
.footer-center{    
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 2%;
}

.footer-logo{   /*___________________ footer logo ___________________*/
    flex: 1;   
    padding: 1%;
    display: flex;
    justify-content: centers;
}
.logo-center{
    width:100%;
}
.logo-center>img{
    width: 80%;
}
.footer-contact{  /*___________________ footer contact___________________*/
    flex: 1;
    padding: 1%;
    display: grid;
    justify-content: center;
    
}
.footer-danhmuc{   /*___________________ footer danh muc ___________________*/
    flex: 1;
    padding: 1%;
}
.footer-danhmucsanpham{
    display: grid;
    justify-content: center;
}
.footer-danhmucsanpham>a{
     text-decoration: none;
     padding-top: 10px;
     color: black;  
}
.footer-danhmucsanpham>a:hover{
    color: rgb(100, 77, 77);
}
.footer-map{    /*___________________ footer map___________________*/
    flex: 1;
    padding: 1%;
}
.footer-map>iframe{
    width: 250px;
    height: 250px;
}

@media all and (max-width:850px){
    .footer-center {
        flex-direction: column;
        align-items: center;
      }




}