body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
   display: inline-block;
   justify-content: center;
    width: 80%;
    height: auto;
}
/*___________________ marquee ___________________*/
#marquee{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 241, 223);
    display: flex;
    align-items: center;
}
#marquee marquee{
    font-size: 20px;
}
/*________________ *** ___________________*/

.header>#logo>a{            /*___________________ logo  ___________________*/
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}
.header> #logo>a>img{
    width: 40%;
}


/*___________________ menu ___________________*/
.header_menu{
    width: 100%;
    height:50px;
    border-bottom: 2px solid rgb(214, 212, 207);
    border-top:2px solid rgb(214, 212, 207) ;
}
.header_menu>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_menu>ul>li{
    list-style: none;
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
}
.header_menu>ul>li:hover{
    transform: scale(1.2);
}
.header_menu>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Charm', cursive;
}
.header_menu>ul>li>a:hover{
    color: rgb(245, 204, 80);  
}
.header_menu>ul>li:nth-child(2):hover #menu_danh_muc{
    display: block;
}


/*___________________ menu---2 ___________________*/
#menu_danh_muc{
    position:absolute;
    width: 200%;
    height: auto;
}
#menu_danh_muc>ul>li{
    width: 100%;
    list-style-type: none;
    padding: 2%;
   margin-left: 100%;
   opacity: 0;
}
#menu_danh_muc>ul>li>a{
    text-decoration: none;
    color: black;
    font-family: 'Charm', cursive;
    font-size: 20px;
}
.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(1){
    animation: li_1 1s ease-out forwards;
}
@keyframes li_1{
    0%{
        opacity: 0;
        margin-left: 100%;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(2){
    animation: li_2 1s ease-out 0.25s forwards;
}
@keyframes li_2{
    0%{
        margin-left: 100%;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }

}
.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(3){
    animation: li_3 1s ease-out 0.5s forwards;
}
@keyframes li_3{
    0%{
        margin-left: 100%;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(4){
    animation: li_4 1s ease-out 0.75s forwards;
}
@keyframes li_4{
    0%{
        margin-left: 100%;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }

}
.header_menu>ul>li:nth-child(2):hover #menu_danh_muc>ul>li:nth-child(5){
    animation: li_5 1s ease-out 1s forwards;
}
@keyframes li_5{
    0%{
        margin-left: 100%;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}









